@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22f2b4;
    --cor-hover: #101010;
    --cor-fonte-hover: #22d7f2;

    --font-pricipal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font: size 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    font-size: 1.56rem;
    color: var(--cor-fonte-hover);
    background-color: var(--cor-hover);
    border: 1px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 5px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    padding: 2%;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-pricipal);
}

.apresentacao__conteudo__texto__home {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.tiulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__texto__nome {
    color: var(--cor-fonte-hover);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-pricipal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-fonte-hover);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    border: 5px solid var(--cor-terciaria);
    font-size: 1.75rem;
    color: var(--cor-fonte-hover);
}

.apresentacao__Imagem {
    width: 35%;
    border-radius: 8%;
    border: 5px solid var(--cor-terciaria);
}

.apresentacao__Imagem:hover {
    width: 40%;
    border: 7px solid var(--cor-secundaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font: size 1.5rem;
    text-align: center;
    padding: 1% 0;
    font-family: var(--font-secundaria);
    font-weight: 400;
    width: 100%;
}

@media (max-width: 1100px) {

    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;

    }

    @media (max-width: 550px) {

        .cabecalho__menu__link {
            white-space: nowrap;
        }

        .cabecalho__menu__link:hover {
            font-size: 1.2rem;
        }

        .apresentacao__links__navegacao{
            width: 75%;
        }
        .apresentacao__conteudo__titulo {
            padding: 0% 2% 0% 2%;
        }

        .tiulo-destaque__quebraPalavra {
            word-break: break-all;
        }

        .apresentacao__conteudo__texto__home {
            padding: 0% 2% 0% 2%;
        }

        .apresentacao__conteudo {
            padding: 0% 3% 0% 3%;
        }

        .apresentacao__Imagem {
            width: 50%;
            border-radius: 8%;
            border: 5px solid var(--cor-terciaria);
        }

        .apresentacao__Imagem:hover {
            width: 55%;
            border: 7px solid var(--cor-secundaria);
        }
    }
}